# 03 Preview Processed Parquet Files

In [2]:
import sys
sys.path.append("../..")
from src import config

processed_dir = config.DATA_INTERIM / "sampleParquet.parquet"
files = sorted(processed_dir.glob('ca_his_raw_2018_*.parquet'))
files[:5]

[]

In [6]:
from src.utils.parquet_utils import preview_parquet

sample = processed_dir 
if sample is not None:
    df = preview_parquet(sample, 101)
    display(df.head(100))
    print("\nDataFrame shape:", df.shape)
    print("\nInfo:")
    print(df.info())
    print("\nDescribe:")
    display(df.describe())
else:
    print('No parquet files found')

,317802,312134,312133,313159,319767,319780,317830,314876,314886,314909,...,1221523,1221550,1221536,1221556,1219551,1202527,1202549,1219560,1202522,1202537
timestamp,,,,,,,,,,,,,,,,,,,,,
1483228800000000000,57.0,19.0,17.0,29.0,31.0,47.0,73.0,27.0,30.0,37.0,...,NaN,NaN,NaN,NaN,47.0,0.0,43.0,40.0,62.0,81.0
1483229100000000000,60.0,17.0,19.0,30.0,30.0,47.0,67.0,24.0,28.0,36.0,...,NaN,NaN,NaN,NaN,59.0,16.0,54.0,24.0,56.0,76.0
1483229400000000000,57.0,12.0,19.0,32.0,32.0,43.0,67.0,27.0,32.0,45.0,...,NaN,NaN,NaN,NaN,59.0,0.0,48.0,27.0,67.0,97.0
1483229700000000000,62.0,16.0,35.0,51.0,50.0,63.0,81.0,36.0,38.0,51.0,...,NaN,NaN,NaN,NaN,101.0,30.0,78.0,29.0,101.0,136.0
1483230000000000000,64.0,15.0,41.0,57.0,55.0,63.0,96.0,59.0,65.0,86.0,...,NaN,NaN,NaN,NaN,127.0,116.0,132.0,33.0,128.0,158.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483257300000000000,81.0,49.0,51.0,48.0,46.0,66.0,93.0,54.0,59.0,56.0,...,NaN,NaN,NaN,NaN,94.0,91.0,86.0,32.0,118.0,138.0
1483257600000000000,102.0,48.0,46.0,56.0,54.0,60.0,98.0,61.0,70.0,95.0,...,NaN,NaN,NaN,NaN,92.0,90.0,84.0,70.0,109.0,140.0
1483257900000000000,87.0,48.0,53.0,44.0,48.0,63.0,114.0,69.0,70.0,71.0,...,NaN,NaN,NaN,NaN,120.0,103.0,100.0,27.0,78.0,100.0
1483258200000000000,104.0,62.0,68.0,60.0,63.0,74.0,109.0,71.0,78.0,89.0,...,NaN,NaN,NaN,NaN,120.0,112.0,108.0,85.0,99.0,121.0
1483258500000000000,90.0,48.0,53.0,57.0,62.0,76.0,106.0,71.0,76.0,95.0,...,NaN,NaN,NaN,NaN,107.0,97.0,93.0,113.0,108.0,131.0

DataFrame shape: (100, 8600)

Info:
<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1483228800000000000 to 1483258500000000000
Columns: 8600 entries, 317802 to 1202537
dtypes: float64(8600)
memory usage: 6.6 MB
None

Describe:

,317802,312134,312133,313159,319767,319780,317830,314876,314886,314909,...,1221523,1221550,1221536,1221556,1219551,1202527,1202549,1219560,1202522,1202537
count,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,...,0.0,0.0,0.0,0.0,100.000000,100.000000,100.000000,100.000000,100.00000,100.00000
mean,67.950000,26.400000,31.17000,38.660000,40.140000,56.680000,82.21000,40.200000,44.000000,51.970000,...,NaN,NaN,NaN,NaN,89.510000,64.530000,77.850000,68.520000,91.53000,116.07000
std,10.877997,11.486487,13.44052,15.058955,15.925344,16.558973,15.03551,18.135851,20.008584,23.201556,...,NaN,NaN,NaN,NaN,51.307844,62.919133,45.124827,55.854334,40.69583,41.03417
min,51.000000,9.000000,8.00000,16.000000,17.000000,38.000000,59.00000,12.000000,14.000000,22.000000,...,NaN,NaN,NaN,NaN,28.000000,0.000000,24.000000,18.000000,31.00000,45.00000
25%,60.000000,18.000000,19.75000,26.750000,27.000000,43.000000,70.00000,26.000000,27.750000,31.750000,...,NaN,NaN,NaN,NaN,49.000000,0.000000,43.000000,25.750000,58.00000,81.75000
50%,66.000000,24.000000,28.00000,34.000000,35.000000,51.000000,79.00000,33.500000,39.000000,46.000000,...,NaN,NaN,NaN,NaN,74.000000,42.500000,62.000000,35.500000,79.50000,106.00000
75%,75.000000,32.000000,41.00000,53.000000,54.000000,66.250000,94.25000,54.250000,61.000000,69.500000,...,NaN,NaN,NaN,NaN,120.000000,108.250000,103.500000,117.250000,121.25000,144.25000
max,104.000000,62.000000,68.00000,78.000000,82.000000,108.000000,115.00000,82.000000,91.000000,112.000000,...,NaN,NaN,NaN,NaN,238.000000,223.000000,212.000000,191.000000,184.00000,223.00000